@mixin decoration($marginBottom) {
  position: relative;
  margin-bottom: $marginBottom;
  &::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../../assets/decoration.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 250px;
  }
}

@mixin ctaButton() {
  border: 1px solid $darkGray;
  height: 120px;
  width: 310px;
  font-size: 36px;
  font-weight: lighter;
  line-height: 45px;
  padding: 0 35px;
  &:hover {
    background-color: $almostWhite;
  }
}
