/**
 * Variables
 */

/*
 * Fonts
 * ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

$font-base: "Open Sans", sans-serif;

$body-font: $font-base;
$body-font-weight: 400;

$header-font: $font-base;

$basic-font-size: 100%;
$paragraph: 16px;

// Golden ration for 16px font-size
$line-height: 24px;

// For REM / EM
//$basic-font-size: 62.5%;
//$paragraph: 1.6rem;
//$line-height: 2.4rem;

/*
 * Palette
 * ========================================================================== */

/*
 * Basic Colors
 * ========================================================================== */

$yellow: #fad648;
$almostWhite: #f0f1f1;
$lightGray: #737373;
$gray: #5e5322;
$darkGray: #3c3c3c;

/*
 * Mixing Colors
 * ========================================================================== */
$text-color: $darkGray;
$inverted-text-color: $almostWhite;
