.subheader {
  font-size: 35px;
  margin: 50px auto;
}

.boxes__container {
  width: 600px; //@TODO media breakpoint change on mobile
  display: flex;
  justify-content: space-between;

  .box--single {
    height: 130px;
    width: 130px;
    margin-top: 30px;
    text-align: center;
    position: relative;

    &::after {
      border: 1px solid $lightGray;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: rotate(45deg);
    }

    .box--number {
      font-size: 34px;
      font-weight: 300;
      margin-top: 10px;
    }

    .box--text {
      font-size: 22px;
      font-weight: 300;
      margin: 18px;
    }
  }
}
